{% extends 'shopapp/base.html' %}
{% load i18n %}

{% block title %}
    {% translate 'Product' %} #{{ product.pk }}
{% endblock %}

{% block body %}
	<h1>{% translate 'Product' %} <strong>{{ product.name }}</strong></h1>
    <div>
        <div>{% translate 'Description' %}: <em>{{ product.description }}</em></div>
        <div>{% translate 'Price' %}: <em>{{ product.price }}</em></div>
        <div>{% translate 'Discount' %}: <em>{{ product.discount }}</em></div>
        <div>{% translate 'Archived' %}: <em>{{ product.archived }}</em></div>
        <div>{% translate 'Created by' %}: <em>{{ product.created_by_id }}</em></div>
        {% if product.preview %}
            <img src="{{ product.preview.url }}" alt="{{ product.preview.name }}" height="200px">
        {% endif %}
        {% blocktranslate count images_count=product.images.all|length %}
            <h3>There is only one image:</h3>
            {% plural %}
            <h3>There are {{ images_count }} images:</h3>
        {% endblocktranslate %}
        <div>
            {% for img in product.images.all %}
            	<div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}" height="200px">
                </div>
                <div>
                    {{ img.description }}
                </div>
            {% empty %}
                <div>No images uploaded yet</div>
            {% endfor %}

        </div>
    </div>
    <br>
    <div>
        {% url 'shopapp:product_update' pk=product.pk as product_update_url %}
        {% blocktranslate %}
            <a href="{{ product_update_url }}">Update product</a>
        {% endblocktranslate %}
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}">{% translate 'Archive product' %}</a>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}">{% translate 'Back to products list' %}</a>
    </div>
{% endblock %}