{% extends 'myauth/base.html' %}

{% block title %}
	User ID: {{ user.pk }}
{% endblock %}

{% block body %}
	<h1>User ID: {{ user.pk }}</h1>
    <div>
        <h2>Details</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{ user.profile.bio }}</p>
        {% if user.profile.avatar %}
            <p>Avatar: <img src="{{ user.profile.avatar.url }}" alt="{{ user.profile.avatar.name }}" height="200px"></p>
        {% else %}
            <p>No avatar uploaded yet</p>
        {% endif %}
    </div>
    <div>
        {% if request.user.is_staff or request.user.pk == user.pk %}
        	<a href="{% url 'myauth:profile-update' pk=user.profile.pk %}">Update avatar</a>
        {% endif %}
    </div>
    <br>
    <div>
        <a href="{% url 'myauth:users-list' %}">Back to users list</a>
    </div>

{% endblock %}