{% extends 'blogapp/base.html' %}

{% block title %}
	Article list
{% endblock %}

{% block body %}
    <h1>Article list</h1>
    {% if object_list %}
        {% for article in object_list %}
            <div>
                <a href="{% url 'blogapp:article' pk=article.pk %}">{{ article.title }}</a>
                <p>Title: {{ article.title }}</p>
                <p>Publication date: {{ article.pub_date }}</p>
                <p>Author's name: {{ article.author.name }}</p>
                <p>Category: {{ article.category.name }}</p>
                <div>Tags:</div>
                <ul>
                    {% for tag in article.tags.all %}
                        <li>{{ tag.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h3>No articles yet</h3>
    {% endif %}

{% endblock %}